.N-navbar {
  background: linear-gradient(180deg, rgb(28 27 27 / 44%) 0%, rgb(51 231 231 / 36%) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* position: fixed; */
  /* top: 0; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.N-navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.N-navbar-logo img{
  height:50px;
}

.N-navbar-logo .fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.N-nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-top: auto;
  margin-right: 2rem;
}

.N-nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.N-nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem;;
}
.N-nav-links i{
  height: auto;
}
.N-nav-links:hover {
  background-color: #7092b6a9;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.N-nav-links-mobile {
  display: none;
}

.N-menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .N-nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .N-nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .N-nav-links {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    display: table;
  }

  .N-nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }
.mobileButton{
  display: flex;
  flex-direction: row;
}
  .N-navbar-logo {
   
    top: 0;
    left: 0;
   
  }

  .N-menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

 .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .N-nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 1rem 20px;
    border-radius: 4px;
    width: 80%;
    background: #6ab7b3cf;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .N-nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  .N-btn {
    display: none;
  }
}
